@font-face {
    font-family: 'crimson_textregular';
    src: url('crimsontext-regular-webfont.woff2') format('woff2'),
         url('crimsontext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
  background-color: #000000;
}
body{
  padding: 0 20px 20px 20px;
  background-color: #ffffff;
}


h1{
  font-family: 'crimson_textregular;';
  font-size: 300%;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}

h2{
  font-family: 'crimson_textregular;';
  font-size: 200%;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}
