@font-face {
    font-family: 'crimson_textregular';
    src: url('crimsontext-regular-webfont.woff2') format('woff2'),
         url('crimsontext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
  background-color: #000000;
}
body{
  font-family: 'crimson_textregular';
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  background-color: #ffffff;
}
img{
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

h1{
  font-family: 'crimson_textregular;';
  font-size: 300%;
}
